<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset("css/home.css") }}">
    <title>Wallet</title>
</head>
<body>
    {{ include('header.html.twig') }}
    <section>
        <h3 >Gérer toutes vos  </h3>
        <h3 >dépenses à l’aide de</h3>
        <h3 >Wallet</h3>
        <p>Finis les surprises en fin de mois et place à un budget maitrisé</p>
    </section>
</body>
</html>